* {
    font-family: var(--body);
    font-size: 1.6rem;
    color: var(--on-surface);
}

html,
body {
    /* Disables pull-to-refresh and overscroll glow effect.
     Still keeps swipe navigations. */
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

.logo {
    font-family: var(--display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--on-surface);
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--surface-alt);
    text-transform: uppercase;
}

h4 {
    opacity: 0.5;
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
}

h5 {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: 0.5;
}

ul.table {
    width: 100%;
    overflow: hidden;
    &:not(:last-child) {
        border-right: 1px solid var(--surface-border);
    }

    header {
        background-color: var(--overlay);
        border-bottom: 1px solid var(--surface-border);
        p {
            text-transform: uppercase;
            text-align: center;
            padding: 0.4rem;
            font-size: 1.4rem;
            color: var(--surface-alt);
        }
    }

    > li {
        width: 100%;
        padding: 0.4rem 0.8rem;
        display: flex;
        overflow: hidden;
        justify-content: center;
        font-style: italic;
        &:nth-child(odd) {
            background-color: var(--overlay);
        }
    }
}

p {
    line-height: 1.4;

    > ul {
        display: flex;
        flex-direction: column;
        padding: 0.8rem;
        padding-left: 3.2rem;
        gap: 0.4rem;

        li::marker {
            content: '⬥ ';
        }

        &:not(:first-child) {
            margin-top: 0.4rem;
        }
    }
}

pre {
    border-left: 0.4rem solid orange;
    text-align: left;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: monospace;
    min-height: 3.8rem;
}

.muted {
    opacity: 0.5;
}

.full-width {
    width: 100%;
}

:not(input) {
    user-select: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;

    &.wrap {
        flex-wrap: wrap;
    }

    &.spread {
        justify-content: space-between;
        gap: 2rem;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

.page {
    height: 100vh; // Works everywhere, but buggy on mobile Safari (includes address bar)
    height: 100dvh; // Modern fix, uses the dynamic viewport height. Works properly with iOS Safari and all modern browsers
    min-height: -webkit-fill-available; // Fallback for iOS Safari

    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glass {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 1.2rem;
}

* {
    touch-action: manipulation; // Prevent double-tap zoom on mobile devices
    -webkit-tap-highlight-color: transparent; // Prevent highlight on tap
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--on-surface);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-bottom: 0.1rem dashed currentColor;
    font-style: italic;
    width: fit-content;

    &:hover {
        color: var(--primary-alt);
    }
}

p > a {
    font-size: inherit;
}

br {
    display: block;
    margin: 0.4rem 0;
    border: 2px solid red;
}

label {
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
